[Unit]
Description=geekshop daemon
After=network.target

[Service]
User=geek
Group=www-data
WorkingDirectory=/home/geek/www/geekshop
ExecStart=/usr/bin/gunicorn3 --access-logfile server.logs --workers 2 --bind unix:/home/geek/www/geekshop/geekshop.sock geekshop.wsgi

[Install]
WantedBy=multi-user.target