{% extends 'adminapp/base.html' %}
{% load static %}

{% block content %}
hi {{ category_id }}
    <form class="form-horizontal" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="form-control" type="submit" value="сохранить">
    </form>
    <button class="btn btn-round form-control last">
        {% if category_id %}
            <a href="{% url 'admin:products_category'  category_id %}">
              к списку продуктов
            </a>
        {% else %}
            <a href="{% url 'admin:products_category'  object.category_id %}">
              к списку продуктов
            </a>
        {% endif %}
    </button>
{% endblock %}
