{% extends 'ordersapp/base.html' %}
{% load static %}

{% block container %}
    {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}" role="alert">
                    {{ message|safe }}
                </div>
            {% endfor %}
        </div>
    {% endif %}

    {% include 'ordersapp/includes/inc_order_summary.html' %}
    <div class="order_form">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.errors}}
            {{ form.as_p }}
            <table class="table">
                {{ orderitems.management_form }}
                {% for item_form in orderitems.forms %}
                    {% if forloop.first %}
                        <thead>
                        <tr>
                            {% for field in item_form.visible_fields %}
                                <th class="{% cycle 'td1' 'td2' 'td3' 'td4' 'td5' 'td6' %} order formset_td">
                                    {{ field.label|capfirst }}
                                </th>
                            {% endfor %}
                        </tr>
                        </thead>
                    {% endif %}

                    <tr class="formset_row">
                        {% for field in item_form.visible_fields %}
                            <td class="{% cycle 'td1' 'td2' 'td3' 'td4' 'td5' 'td6' %} order formset_td">
                                {% if forloop.first %}
                                    {% for hidden in item_form.hidden_fields %}
                                        {{ hidden }}
                                    {% endfor %}
                                {% endif %}
                                {{ field.errors.as_ul }}
                                {% if field.name == 'total_price'  %}
                                    <span class="items-{{ forloop.parentloop.counter0 }}-total_price">
                                        {{ field.value|default:"0,00" }}руб
                                    </span>
                                {% elif field.name == 'price' %}
                                    <span class="items-{{ forloop.parentloop.counter0 }}-price">
                                        {{ field.value|default:"0,00" }}руб
                                    </span>
                                {% elif field.name == 'total_quantity' %}
                                    <span class="items-{{ forloop.parentloop.counter0 }}-total_quantity">
                                        {{ field.value|default:"0" }}
                                    </span>
                                {% else %}
                                    {{ field }}
                                {% endif %}

                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>

            {% include 'ordersapp/includes/inc_order_actions.html' %}
        </form>
    </div>
{% endblock %}